<%- @magazine = magazine %>
<%= nested_form_for @magazine,:remote => true, :html => { :class => 'form-horizontal', :id => 'new_form_submit' , :multipart => true} do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
    <%= f.fields_for :people do |builder| %>
        <fieldset>
          <%= builder.label :name, "Person" %>
          <%= builder.text_field :name %>
          <%= builder.link_to_remove "Remove" %>
        </fieldset>
    <% end %>

    <div>
      <%= f.link_to_add "Add new Person" ,:people %>
      <%# debugger %>
    </div>


    <%= f.submit  :class => 'btn btn-primary' %>


<% end %>

<%= submit_tag "Cancel" , :id => "cancel_btn" %>
